<div class="container">
  <h1>wisen.</h1>

  <h3>learn to create.</h3> 
  <h3>in a place near you. </h3> 
  <h3>with creative people like you.</h3>
  <br>

  <div>
    <%= link_to 'coming soon - sign up now', new_user_registration_path, class: "btn btn-info" %>
  </div>

</div>