<!-- Social Footer, Single Coloured -->
<!-- Include Font Awesome Stylesheet in Header -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- // -->
<div class="container">
  <h3>stay in touch.</h3>
        <div class="text-left left-block">
            <br />
            <a href="https://www.facebook.com/wisening"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
            <a href="https://twitter.com/wisening"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
            <a href="https://instagram.com/wisening"><i id="social" class="fa fa-instagram fa-3x social-tw"></i></a>
            <a href="http://eepurl.com/bf2siX"><i id="social" class="fa fa-envelope-square fa-3x social-tw"></i></a>
        </div>
</div>